<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="appName" value="rps-rank"/>
    <!--<property name="LOG_HOME" value="/tmp"/>-->
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- all appender -->
    <appender name="allLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/spring_demo.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>spring_demo.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} %level %logger{36} [%t] [%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- error appender -->
    <appender name="errorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>logs/spring_error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>spring_error.%d{yyyy-MM-dd}</FileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{traceId} %level %logger{36} [%t] [%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- trace appender -->
    <appender name="trace" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/logs/trace/trace.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/data/logs/trace/trace.log.%d{yyyy-MM-dd-HH}</fileNamePattern>
            <maxHistory>72</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!--异步输出日志-->
    <!-- 异步输出 -->
    <appender name="errorLogFile" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>90</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>4096</queueSize>
        <IncludeCallerData>true</IncludeCallerData>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="errorLog"/>
    </appender>

    <!-- 异步输出 -->
    <appender name="allLogFile" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>90</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>4096</queueSize>
        <IncludeCallerData>true</IncludeCallerData>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="allLog"/>
    </appender>

    <!-- 异步输出 -->
    <appender name="async-trace" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志.默认的,如果队列的80%已满,则会丢弃TRACT、DEBUG、INFO级别的日志 -->
        <discardingThreshold>90</discardingThreshold>
        <!-- 更改默认的队列的深度,该值会影响性能.默认值为256 -->
        <queueSize>4096</queueSize>
        <IncludeCallerData>true</IncludeCallerData>
        <!-- 添加附加的appender,最多只能添加一个 -->
        <appender-ref ref="trace"/>
    </appender>

    <!-- arsenal SDK更新模型时会强行关闭连接导致报错 先忽略-->
    <logger name="io.grpc.internal.ManagedChannelOrphanWrapper" level="OFF">
    </logger>

    <!-- loggers -->
    <logger name="cn.techwolf.trace.utils.SpanLogger" additivity="false" level="INFO">
        <appender-ref ref="async-trace"/>
    </logger>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="allLogFile"/>
            <appender-ref ref="errorLogFile"/>
        </root>
    </springProfile>

</configuration>
