<configuration scan="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %level %logger{0}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="INFO_LOG_FILE"-->
              <!--class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--&lt;!&ndash; 设置过滤级别 &ndash;&gt;-->
            <!--<level>INFO</level>-->
            <!--&lt;!&ndash; 用于配置符合过滤条件的操作 &ndash;&gt;-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--&lt;!&ndash; 用于配置不符合过滤条件的操作 &ndash;&gt;-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
        <!--<file>./rcd_info.log</file>-->
        <!--<append>true</append>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover-->
            <!--Once any of the below condition met, it will change the file name as below and compressed it. &ndash;&gt;-->
            <!--<fileNamePattern>./log_back/rcd_info.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%date [%thread] %level %logger{0}:%line - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->


    <!--<appender name="ERROR_LOG_FILE"-->
              <!--class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--&lt;!&ndash; 级别过滤器 &ndash;&gt;-->

        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--&lt;!&ndash; 设置过滤级别 &ndash;&gt;-->
            <!--<level>WARN</level>-->
        <!--</filter>-->
        <!--<filter class="ch.qos.logback.core.filter.EvaluatorFilter">-->
            <!--<evaluator> &lt;!&ndash; 默认为 ch.qos.logback.classic.boolex.JaninoEventEvaluator &ndash;&gt;-->
                <!--<expression>return message.contains("Parsing SQL failed");</expression>-->
            <!--</evaluator>-->
            <!--<OnMatch>DENY</OnMatch>-->
            <!--<OnMismatch>ACCEPT</OnMismatch>-->
        <!--</filter>-->
        <!--<file>./rcd_error.log</file>-->
        <!--<append>true</append>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; daily rollover-->
            <!--Once any of the below condition met, it will change the file name as below and compressed it. &ndash;&gt;-->
            <!--<fileNamePattern>./log_back/rcd_error.%d{yyyy-MM-dd}.log</fileNamePattern>-->
            <!--&lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
            <!--<maxHistory>10</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>%date [%thread] %level %logger{0}:%line - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <root level="INFO">
        <!--<appender-ref ref="INFO_LOG_FILE"/>-->
        <!--<appender-ref ref="ERROR_LOG_FILE"/>-->
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>
